[package]
name = "sbpf"
version = "0.1.5"
authors = ["Dean Little <dean@blueshift.gg>", "Claire Fan <claire@blueshift.gg>"]
edition = "2021"
description = "A complete toolchain for building and deploying Solana BPF programs"
license = "MIT OR Apache-2.0"
repository = "https://github.com/blueshift-gg/sbpf"
readme = "README.md"
keywords = ["solana", "bpf", "blockchain", "assembler"]
categories = ["development-tools", "command-line-utilities"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
anyhow = "1.0.86"
clap = { version = "4.5.13", features = ["derive"] }
crossterm = "0.28.1"
ed25519-dalek = { version = "2.1.1", features = ["rand_core"] }
rand = "0.8.5"
serde_json = "1.0.122"
thiserror = "2.0.12"
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.9.34-deprecated"
dirs = "4.0" # For easily getting the home directory
codespan-reporting = "0.12.0"
termcolor = "1.4"

sbpf-assembler = { workspace = true }
sbpf-disassembler = { workspace = true }
sbpf-common = { workspace = true }

[workspace]
members = ["crates/assembler", "crates/common", "crates/disassembler"]
exclude = ["examples"]

[workspace.package]
version = "0.1.2"

[workspace.dependencies]
num-derive    = "0.4"
num-traits    = "0.2"
thiserror = "2.0.12"
anyhow = "1.0.86"
object = "0.37.3"

sbpf-assembler = { path = "crates/assembler" }
sbpf-disassembler = { path = "crates/disassembler" }
sbpf-common = { path = "crates/common" }
